.admin-head	p{
			text-align:center;
			font-size:25px;
			color:#b91560;
			font-weight:600;
			
		
		}
		.admin-head{
			margin-top:50px!important;
			margin:20px 0px;
		}
		
		table{
			margin-bottom:70px;
		}
		tr,td {
				width:400px;
				padding:20px 0px;
		}
		
		input[type=text],input[type=password] {
				width: 100%;
				font-size:18px;
				padding: 12px 20px;
				margin: 8px 0;
				
				box-sizing: border-box;
				border: 0;
				outline: 0;
				background: transparent;
				border-bottom: 1px solid black;
			}
		input[type=submit]{
			padding:10px;	
			background:#b91560;
			border:1px solid;
			font-size:23px;
			margin:0% 45%;
		}
	